.main-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px 35px 19px 0;
}

.aside-menu-wrapper {
  background-color: #fff;
  height: 100%;
  border-radius: 9px;
}

h1 {
  padding: 11px 150px 6px 16px;
  margin: 0;
}
