<div class="main-wrapper">
  <div class="aside-menu-wrapper">
    <div class="aside-menu-header">
      <h1>Objects</h1>
    </div>
    <div class="aside-menu-search">
      <input type="text"
             placeholder="Search"
             autofocus
             [formControl]="inputValue"
             (input)="searchItem()">
    </div>
    <div class="aside-menu-list-markers"
         *ngFor="let item of actualMapMarkersService.markers">
      <app-list-markers [selectedItem]="item.name"
                        (clickedItem)="onSelect($event)"
                        [isSelected]="item.name===selectedItem">
      </app-list-markers>
    </div>
  </div>
</div>

