.selected {
  background: rgba(255, 245, 0, 0.4);
}

.list-markers-item {
  padding-left: 16px;
  border: 1px solid #EDEDED;

  &:hover {
    cursor: pointer;
  }
}

img {
  padding-right: 5px;
}

span {
  font-size: 13px;
  display: inline-block;
  line-height: 12.89px;
  padding: 8px 0 8px;
}
